@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.AppConfig
@import play.api.i18n.Messages
@import uk.gov.hmrc.hmrcfrontend.views.Aliases.{Header, ReportTechnicalIssue}
@import uk.gov.hmrc.govukfrontend.views.Aliases.FooterItem
@import messages.Messages._
@import play.api.mvc.Request
@import _root_.requests.RequestSupport.language
@import uk.gov.hmrc.hmrcfrontend.views.html.components.LanguageSelect
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.language.{Cy, En}

@this(
    govukLayout: uk.gov.hmrc.govukfrontend.views.html.layouts.govukLayout,
    hmrcHeader: uk.gov.hmrc.hmrcfrontend.views.html.components.hmrcHeader,
    reportTechnicalIssues: uk.gov.hmrc.hmrcfrontend.views.html.components.hmrcReportTechnicalIssue,
    languageSelect: uk.gov.hmrc.hmrcfrontend.views.html.components.hmrcLanguageSelect
)

@(pageTitle: String, heading: String, message: String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@head = {
    <link href='@controllers.routes.Assets.versioned("stylesheets/application.css")' media="all" rel="stylesheet" type="text/css" />
}

@beforeContentBlock = {
<div class="language-toggle-position">
    @languageSelect(LanguageSelect(
    if (messages.lang.code == "cy") Cy else En,
    En -> langswitch.routes.LanguageSwitchController.switchToLanguage(langswitch.Languages.English).url,
    Cy -> langswitch.routes.LanguageSwitchController.switchToLanguage(langswitch.Languages.Welsh).url
    ))
</div>
}

@mainContent = {
    <h1 class="govuk-heading-l">@heading</h1>
    <p class="govuk-body">@message</p>
    <div class="govuk-!-display-none-print">
        @reportTechnicalIssues(ReportTechnicalIssue(serviceCode = "open-banking-frontend"))
    </div>
}

@govukLayout(
    pageTitle = Some(pageTitle),
    headBlock = Some(head),
    headerBlock = Some(hmrcHeader(Header(
        homepageUrl = "https://www.gov.uk",
        serviceName = Some(generic_service_name.show),
        serviceUrl = controllers.routes.IndexController.onPageLoad.url
    ))),
    scriptsBlock = None,
    beforeContentBlock = Some(beforeContentBlock),
    footerItems = Seq(
        FooterItem(
            text = Some(footer_cookies.show),
            href = Some(appConfig.Urls.cookiesUrl)
        ),
        FooterItem(
            text = Some(footer_helpUsingGovUk.show),
            href = Some(appConfig.Urls.helpUsingGovUkUrl)
        )
    ),
    bodyEndBlock = None)(mainContent)
