@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.AppConfig
@import messages.Messages.{generic_service_name, _}
@import play.api.i18n.Messages
@import play.api.mvc.Request
@import play.twirl.api.Html
@import _root_.requests.RequestSupport.language
@import uk.gov.hmrc.govukfrontend.views.Aliases._
@import uk.gov.hmrc.hmrcfrontend.views.Aliases.{Header, ReportTechnicalIssue}
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.language.{Cy, En}
@import uk.gov.hmrc.hmrcfrontend.views.html.components.LanguageSelect

@this(
    govukLayout: uk.gov.hmrc.govukfrontend.views.html.layouts.govukLayout,
    hmrcHeader: uk.gov.hmrc.hmrcfrontend.views.html.components.hmrcHeader,
    button: uk.gov.hmrc.govukfrontend.views.html.components.govukButton,
    reportTechnicalIssues: uk.gov.hmrc.hmrcfrontend.views.html.components.hmrcReportTechnicalIssue,
    languageSelect: uk.gov.hmrc.hmrcfrontend.views.html.components.hmrcLanguageSelect
)

@()(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@head = {
    <link href='@controllers.routes.Assets.versioned("stylesheets/application.css")' media="all" rel="stylesheet" type="text/css" />
}

@beforeContentBlock = {
 <div class="language-toggle-position">
     @languageSelect(LanguageSelect(
     if (messages.lang.code == "cy") Cy else En,
     En -> langswitch.routes.LanguageSwitchController.switchToLanguage(langswitch.Languages.English).url,
     Cy -> langswitch.routes.LanguageSwitchController.switchToLanguage(langswitch.Languages.Welsh).url
     ))
 </div>
 }

@mainContent = {
    <div class="govuk-body">
        <h1 class="govuk-heading-l">@thereIsAProblem_heading.show</h1>

        <p class="govuk-body">@thereIsAProblem_p1.show</p>

        @button(Button(
            content = Text(thereIsAProblem_button.show),
            href = Some(controllers.routes.IndexController.onPageLoad.url)
        ))


    </div>

    <div class="govuk-!-display-none-print">
        @reportTechnicalIssues(ReportTechnicalIssue(serviceCode = "open-banking-frontend"))
    </div>
}

@govukLayout(
    pageTitle = Some(thereIsAProblem_heading.show),
    headBlock = Some(head),
    headerBlock = Some(hmrcHeader(Header(
        homepageUrl = "https://www.gov.uk",
        serviceName = Some(generic_service_name.show),
        serviceUrl = controllers.routes.IndexController.onPageLoad.url
    ))),
    scriptsBlock = None,
    beforeContentBlock = Some(beforeContentBlock),
    footerItems = Seq(
        FooterItem(
            text = Some(footer_cookies.show),
            href = Some(appConfig.Urls.cookiesUrl)
        ),
        FooterItem(
            text = Some(footer_helpUsingGovUk.show),
            href = Some(appConfig.Urls.helpUsingGovUkUrl)
        )
    ),
    bodyEndBlock = None)(mainContent)
