@import "lib/govuk-frontend/dist/govuk/base";

.grouped-row {

  @include govuk-media-query($from: tablet) {
    border-bottom-style: none;
  }
  > dd, > dt {
    padding-top: 2px;
  }

  .grouped-change {
    display: inline-block;
    @include govuk-media-query($from: tablet) {
      display: none;
    }
  }

  &.last-grouped-row {
    @include govuk-media-query($from: tablet) {
      border-bottom-style: solid;
    }
  }
}

.dd-logo {
  text-align: right;
  img {
    width: 100px;
    height: 120px;
  }
}

body:not(.js-enabled) .js-visible {
  display: none;
}
