@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.html.helpers._
@import uk.gov.hmrc.hmrcfrontend.views.html.components._
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers._

@this(
    layout: templates.Layout,
    govukButton: GovukButton
)

@()(implicit request: Request[_], messages: Messages)

@layout(pageTitle = titleNoForm(messages("journeyRecovery.startAgain.title"))) {

    <h1 class="govuk-heading-xl">@messages("journeyRecovery.startAgain.heading")</h1>

    <p class="govuk-body">@messages("journeyRecovery.startAgain.guidance")</p>

    <p class="govuk-body">
        @govukButton(
            ButtonViewModel(messages("site.startAgain"))
                .asLink(routes.IndexController.onPageLoad.url)
        )
    </p>
}
